<!-- Creating a container with a separation of 5px-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">

                <!-- Bootstrap style to display a centered text inside a card-body -->
                <div class="card-body text-center">

                    <!-- Title of the table to display the existing products -->
                    <span class="title">LIST OF PRODUCTS</span>

                    <!-- Button to add a new product -->
                    <button class="btn btn-success float-end">New</button>

                    <!-- Table to display the list of products -->
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Location</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Product 1</td>
                            <td>Category 1</td>
                            <td>Location 1</td>
                            <td>Price 1</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Product 2</td>
                            <td>Category 2</td>
                            <td>Location 2</td>
                            <td>Price 2</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>