<!-- Creating a container with a separation of 5px-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">

                <!-- Bootstrap style to display a centered text inside a card-body -->
                <div class="card-body text-center">

                    <!-- Title of the table to display the existing products -->
                    <span class="title">LIST OF PRODUCTS</span>

                    <!-- Button to add a new product
                        1) btn-success sets the style of the button
                        2) float-end property allows aligning the button's text to the left side 
                        3) routerLink allows establishing a link to start navigation in a specific component -->
                    <button class="btn btn-success float-end" routerLink="/create-product">New</button>

                    <!-- Table to display the list of products 
                          *ngIf to validate if the list size is greater than 0 to display it -->
                    <table *ngIf="listProducts.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Location</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Interpolation syntax to iterate the list of products and print the information -->
                          <tr *ngFor="let product of listProducts">
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.location}}</td>
                            <td>{{product.price | currency:'MXN'}}</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>

                                <!-- Binding the deleteProduct method to the (click) event -->
                                <i (click)="deleteProduct(product.idProduct)" class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                    </table>

                    <!-- Message to display in case of list products is empty -->
                    <h5 *ngIf="listProducts.length == 0" style="text-align: center; margin-top: 10px;">
                      There are no products available
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>