/* General backgroud for all the components */
body {
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E0E00, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E0E00, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Font style based on Google Fonts repository */
.title {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}